:root {
  --playfair-font: "Playfair Display", serif;
  --poppins-font: "Poppins", sans-serif;
  --blueviolet: #6c63ff;
  --paragraph-color: rgba(39, 33, 66, 0.7);
}

nav a:hover {
  color: var(--blueviolet) !important;
}

.padding-top {
  padding-top: 130px;
}
.padding-bottom {
  padding-bottom: 130px;
}

.hero-container {
  background-color: #f9f7fe !important;
  padding-top: 230px;
  padding-bottom: 230px;
}

.play-fair {
  font-family: var(--playfair-font);
}

.poppins {
  font-family: var(--poppins-font);
}

.active {
  color: var(--blueviolet) !important;
}

.shadow-md {
  box-shadow: 0px 5px 5px grey;
}

.text-color {
  color: #272142 !important;
}

.paragraph-color {
  color: var(--paragraph-color);
}

.btn-light {
  color: var(--blueviolet) !important;
  border: 1px solid var(--blueviolet) !important;
}

.btn-light:hover {
  background-color: var(--blueviolet) !important;
  color: #fff !important;
  border: 1px solid var(--blueviolet) !important;
}

.btn-dark:hover {
  color: var(--blueviolet) !important;
  border: 1px solid var(--blueviolet) !important;
  background-color: #fff !important;
}

.btn-dark {
  background-color: var(--blueviolet) !important;
  color: #fff !important;
  border: 1px solid var(--blueviolet) !important;
}

.box-color {
  background-color: #f9f7fe;
}

i {
  color: var(--blueviolet);
}

.text-fs-small {
  font-size: 14px;
}
